.card {
    background-color: transparent;
    text-align: center;
}

.option-color{
background-color: #27293d;
}

.row-cadastrar {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.MuiStepper-alternativeLabel {
    background-color: transparent !important;
}

.MuiStepLabel-label.MuiStepLabel-completed {
    color: #28a745 !important;
}

.MuiStepLabel-label.MuiStepLabel-active {
    color: #fd0016 !important;
}

.MuiStepLabel-label {
    color: rgba(255, 255, 255, 0.87) !important;
}