@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.card-botton {
    background-color: transparent;
    text-align: center;
    margin-bottom: 0px !important;

}

.option-color {
    background-color: #27293d;
}

.row-cadastrar {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row-table-search {
    height: 100px !important;
}

.form-control:focus {
    border-color: #247bf6 !important;
}